.gradle
.idea
.settings
bin
build
gradle
logs
classes

krail-testapp.iml
krail-testApp.iml
derby.log
/uk/q3c/krail/testapp/widgetset/testAppWidgetset.gwt.xml
build.gradle~
git.ignore~
README.md~

.classpath
.project

error-screenshots
