/.gradle
/.idea
/.settings
/bin
/build
/gradle
/logs

/.krail-testApp.iml
/uk/q3c/krail/testapp/widgetset/testAppWidgetset.gwt.xml
build.gradle~
git.ignore~
README.md~

/.classpath
/.project
/.gradle
/error-screenshots
